{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Contact" %} - Company Bootstrap Template{% endblock %}

{% block body_class %}contact-page{% endblock %}

{% block content %}

    <div class="page-title accent-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">{% trans "Contact" %}</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                    <li class="current">{% trans "Contact" %}</li>
                </ol>
            </nav>
        </div>
    </div>

    <section id="contact" class="contact section">


        <div class="container mt-4" data-aos="fade">

            <div class="row gy-5 gx-lg-5">

                <div class="col-lg-4">
                    <div class="info">
                        <h3>{% trans "Get in touch" %}</h3>
                        <p>
                            {% blocktrans %}
                                You can use the contact information below to reach us, or you can send us a message
                                directly by filling out the form. Your questions will be answered as soon as possible.
                            {% endblocktrans %}
                        </p>

                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>{% trans "Location" %}:</h4>
                                <p>{{ site_settings.address }}</p>
                            </div>
                        </div>

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>{% trans "Email" %}:</h4>
                                <p>{{ site_settings.email }}</p>
                            </div>
                        </div>

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>{% trans "Call" %}:</h4>
                                <p>{{ site_settings.phone }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8 shadow-lg p-4">
                    <h3>{% trans "Send us a message" %}</h3>

                    {% if messages %}
                        <div class="container mt-4">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form action="{% url 'contact' %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                {{ form.name }}
                                {{ form.name.errors }}
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>

                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">{% trans "Send Message" %}</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section>

{% endblock %}