{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Products" %} - Company Bootstrap Template{% endblock %}

{% block body_class %}portfolio-page{% endblock %}

{% block content %}

  <div class="page-title accent-background">
    <div class="container d-lg-flex justify-content-between align-items-center">

      {% if selected_service %}
        <h1 class="mb-2 mb-lg-0">{{ selected_service.title }}</h1>
      {% else %}
        <h1 class="mb-2 mb-lg-0">{% trans "Products" %}</h1>
      {% endif %}
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>

          {% if selected_service %}
            <li><a href="{% url 'portfolio' %}">{% trans "Products" %}</a></li>
            <li class="current">{{ selected_service.title|truncatechars:30 }}</li>
          {% else %}
            <li class="current">{% trans "Products" %}</li>
          {% endif %}
          </ol>
      </nav>
    </div>
  </div><section id="portfolio" class="portfolio section">
    <div class="container">
      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">{% trans "All" %}</li>
          {% for category in categories %}
            <li data-filter=".filter-{{ category.slug }}">{{ category.name }}</li>
          {% endfor %}
        </ul><div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
          {% for item in items %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ item.category.slug }}">
              <img src="{{ item.main_image.url }}" class="img-fluid" alt="{{ item.title }}">
              <div class="portfolio-info">
                <h4>{{ item.title }}</h4>
                {% if item.price %}
                  <p class="price" style="font-weight: bold; color: #007bff;">{{ item.price }} TL</p>
                {% endif %}
                <p>{{ item.short_description }}</p>
                <a href="{{ item.main_image.url }}" title="{{ item.title }}" data-gallery="portfolio-gallery-{{ item.category.slug }}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{{ item.get_absolute_url }}" title="{% trans 'More Details' %}" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}